{
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "arrowFunctions": true,
          "blockBindings": true,
          "defaultParams": true,
          "destructuring": true,
          "forOf": true,
          "generators": true,
          "objectLiteralComputedProperties": true,
          "objectLiteralShorthandMethods": true,
          "objectLiteralShorthandProperties": true,
          "experimentalObjectRestSpread": true,
          "restParams": true,
          "spread": true,
          "templateStrings": true,
          "modules": true,
          "classes": true
      }
  },
  "rules": {
    "no-empty": [
      2,
      {
        "allowEmptyCatch": true
      }
    ],
    "no-with": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "padded-blocks": ["error", "never"],
    "padding-line-between-statements": [
      "error",
      { blankLine: "always", prev: "*", next: "return" }
    ],
    "no-multi-str": 2,
    "dot-location": [
      2,
      "property"
    ],
    "operator-linebreak": [
      2,
      "after"
    ],
    "quote-props": [
      2,
      "as-needed",
      {
        "keywords": true
      }
    ],
    "space-unary-ops": [
      2,
      {
        "words": false,
        "nonwords": false
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "ignore",
        "named": "never"
      }
    ],
    "no-spaced-func": 2,
    "space-in-parens": [
      2,
      "never"
    ],
    "semi": [
      2,
      "never"
    ],
    "comma-dangle": [
      2,
      "never"
    ],
    "no-trailing-spaces": 2,
    "yoda": [
      2,
      "never"
    ],
    "comma-style": [
      2,
      "last"
    ],
    "curly": [
      2,
      "multi",
      "consistent"
    ],
    "eol-last": 2,
    "wrap-iife": 2,
    "space-infix-ops": 2,
    "keyword-spacing": [
      2,
      {
        "overrides": {
          "if": {
            "after": false
          },
          "while": {
            "before": true
          },
          "catch": {
            "before": true
          }
        }
      }
    ],
    "spaced-comment": [
      2,
      "always"
    ],
    "space-before-blocks": [
      2,
      "always"
    ],
    "key-spacing": [
      2,
      {
        "align": "colon"
      }
    ],
    "array-bracket-spacing": [
      2,
      "always"
    ],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ]
  }
}
